/*Centering stuff*/
.center-text{
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.h-center-text{
	text-align: center;
}
.v-center-text{
   margin: 0;
   position: absolute;     
   top: 50%;                 
   transform: translate(0, -50%)
}

.v-center-img{
   margin: 0;
   position: absolute;     
   top: 50%;                 
   transform: translate(0, -50%)
}
.h-center-img{
  display:block;
  margin:auto;
}
.center-img{
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}


/*Buttons*/
.sw-btn{
   padding: 7px;
   font-size: 15px;
   letter-spacing: 0.07em;
   margin: 5px;
}
.sw-btn:active:hover {
   filter: brightness(90%);
   filter: saturate(60%);
}
.sw-btn:hover {
   filter: brightness(90%);
   filter: saturate(80%);
   cursor: pointer;
   outline: none;
}
.sw-btn:focus {
   outline-style: solid;
   outline-color: #7fbdff;
   outline-width: 4px;
}


.primary{
   background: #0d6efd;
   color: white;
   border-style: solid;
   border-radius: 5px;
   padding: 7px;
   font-size: 15px;
   letter-spacing: 0.07em;
}

.secondary{
   background: #B7C5E0;
   color: white;
   border-style: solid;
   border-radius: 5px;
   padding: 7px;
   font-size: 15px;
   letter-spacing: 0.07em;
}

